*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background-color: hsl(240, 78%, 98%);

}
body:before{
    content:'';
    background-image: url("./images/bg-top.svg");
    background-repeat: no-repeat;
    background-position:top right;
    position: absolute;
    top:0;
    right:0;
    height:100%;
    width:100%;
    z-index:-1;

}
body:after {
    content:'';
    background-image: url("./images/bg-bottom.svg");
    background-repeat: no-repeat;
    background-position:bottom left;
    position: absolute;
    top:0;
    right:0;
    height:100%;
    width:100%;
    z-index:-1;
}
.container {
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align:center;
    margin-top:6rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    

}
h1 {
    color:hsl(233, 13%, 49%);
}
.toggle-container{
    color:hsl(234, 14%, 74%);
    display:inline-flex;
    padding: 5px;
    margin-bottom: 50px;

}
.toggle-lebel {
    margin:0 10px 0 10px;
}
label {
    width:30px;
    height:30px;
    background-color:hsl(237, 63%, 64%);
}
.card-container {
    display:flex;
    justify-content: center;
    align-items:center;
}

.price-cards {
 height:300px;
 width:250px;
 background-color:#fff;
 border-radius:10px;
 box-shadow: 0 5px 10px rgba(0,0,0,0.1);
 color: hsl(233, 13%, 49%);
 margin-top:20px;
 font-size:13px;
 margin:8px;
 padding:0 25px 0 25px;

}
h3 {
    padding:10px;
    margin-top:10px;
}

.price {
    font-size: 35px;
    color:black;
    padding:10px;
}
.dollar::before {
    content:'$';
    font-size: 25px;
    font-weight:bolder;
    padding:0 3px 0 3px;;
    position:relative;
    bottom:3px;
}

.price-cards ul{
    list-style: none;
    margin-top:5px;
    
    border-top:1px solid hsl(234, 14%, 74%);
    
}
.price-cards ul> li{
    
    border-bottom:1px solid hsl(234, 14%, 74%);
    padding:10px 0;
    height:60%;
    
}
 
.btn {
    padding:10px;
    margin-top:15px;
    text-transform: uppercase;
    width:100%;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;  
    background-image: linear-gradient(hsl(236, 72%, 79%) ,
    hsl(237, 63%, 64%));
    color:white;
    border: 1px solid hsl(234, 14%, 74%);
    border-radius: 5px;
    

}
.active-card {
    background-image: linear-gradient(hsl(236, 72%, 79%) ,
     hsl(237, 63%, 64%));
    color:white;
    transform: scale(1.15);
}
.active-card>.price {
    color:white;
}
.active-card>.btn {
    background-image: none;
    background-color:white;
    color:hsl(237, 63%, 64%);
    
}
.active-card> *{
    transform: scale(0.85);
}
.toggle-lebel > label {
    background-image: linear-gradient(hsl(236, 72%, 79%) ,
    hsl(237, 63%, 64%));
    display:inline-block;
    height:20px;
    width:40px;
    border-radius:10px;

}
.toggle-lebel label .circle {
    height:15px;
    width:15px;
    background-color: white;
    border-radius: 10px;
    margin-left:2.5px;
    margin-top:2px;
}
.toggle-lebel input {
    position:absolute;
    left:-9999px; 
}
.toggle-lebel input:checked + label .circle{
    position:relative;
    top:0px;
    left:19px;
    
}

@media only screen and (max-width: 600px) {
    .card-container {
      display:flex;
      flex-direction:column;
      flex-wrap: wrap;
    }
    .active-card {
        transform: scale(1);
    }
  }

